<form class="form">
  <fieldset>
    <legend><img class="logo" src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/24360.png" alt="gamer"></legend>
<label for="nameGame">Название игры</label>
<input type="text" id="nameGame" #nameGame>
<label for="imageUrl">Обложка</label>
<input type="text" id="imageUrl" #imageUrl>
<select name="platform" id="platform" #platform>
  <option value="platform">выберите платформу</option>
  <option>NES</option>
  <option>SEGA Genesis</option>
  <option>Super Nintendo</option>
  <option>Sony PlayStation</option>
  <option>PC</option>
</select>
<label for="description">Описание игры</label>
<textarea id="description" cols="20" rows="5" #description></textarea>
    <button type="submit" (click)="pushNewGame($event)">создать</button>
    </fieldset>
</form>
