.form{
  padding: 40px;
  margin-top: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.form:hover{
  box-shadow: 0 0 20px blue;
}

#nameGame,
#imageUrl,
#description,
#platform
{
  display: block;
  margin: 10px;
}

.logo{
  width: 120px;
  height: 120px;
  transform: rotate(-37deg);
  margin-bottom: 20px;
}

