<div>
  <ul>
    <li><a routerLink="/" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">home</a>
    </li>
    <li><a routerLink="new-game" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">new game</a>
    </li>
    <li><a routerLink="all" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">all game</a>
    </li>
  </ul>
</div>

