div{
  background: blue;
  color: white;
  display: block;
}

ul{
  list-style: none;
  padding: 20px;

}
li{
  display: inline-block;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: block;
}
