
<div class="row">
  <div class="col">
        <div
          *ngFor="let games of game; let i = index"
          class="game"
        >
          <h2>{{ games.nameGame }}</h2>
          <img [src]="games.imageUrl" alt="game" width="200px">
        </div>
  </div>

  <div class="col-2">
    <router-outlet></router-outlet>
  </div>
</div>




