.row{
  display: flex;
}

.col{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.col-2{
  width: 50%
}

.game{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-right: 20px;
  padding: 20px;
}



