<div class="row">
  <div class="col">
    <div
      *ngFor="let games of game;"
      class="game"
    >
      <h2>{{ games.nameGame }}</h2>
      <img [src]="games.imageUrl" alt="game" width="500px">
      <p>{{ games.platform }}</p>
      <i>"{{ games.description }}"</i>
    </div>
  </div>
</div>
