<header class="header">
  <app-menu></app-menu>
</header>
<div class="column">
  <div class="nav-bar">
    <h3>PLATFORM:</h3>
    <ul
      *ngFor="let plat of gamePlat"
    class="ul"
    >
      <li>
        <a
          class="link"
          (click)="clickPlat(plat)"
           [routerLink]="[plat]"
        >{{ plat }}</a>
      </li>
    </ul>
  </div>
  <div class="games">
    <router-outlet></router-outlet>
  </div>
</div>
