.header{
  display: block;
  box-shadow: 0 0 10px blue;
}

header:hover{
  box-shadow: 0 0 30px blue;
}

.nav-bar{
  width: 15%;
  background: darkslateblue;
  min-height: 100%;
  padding-top: 30px;
  margin-right: 15px;
  padding-left: 10px;
}

.column {
  display: flex;
  height: 100%;
}

.games {
  display: flex;
}

.ul{
  list-style: none;
}

.link{
  margin-top: 20px;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
  display: block;
  text-transform: uppercase;
}

.link:hover{
  color: black;
}
